{{!-- about page --}}
<section class="aboutUs">
    <div class="test">
        <div class="david">
            <div class="davidImg">
                <img class="davidSnake" src="../img/Eric-cutout.png.png" alt="pic-of-david" />
                <div class="davSlide"></div>
            </div>
            <div class="text">
                <p>
                    I always had an affinity for lizards. I've always felt somewhat
                    close to them. They're reptiles. I find myself feeling somewhat
                    reptilian at times.
                </p>
                <p id="quote">-David Lee</p>
                <div class="textSlide"></div>
            </div>
        </div>
        <div class="text2">
            <h2>Lee's Story</h2>
            <p>
                David Lee is a one of a kind reptile enthusiast. His journey started
                in West Delray, FL (named for being the Most Fun Small Town in the
                USA), where he grew up just a stone throw away from a canal. In this
                canal, lived the most amazing species David had ever seen, the
                crocodile. When David first laid eyes on the croc, he knew he wanted
                to be around this creature and anything that relates to it for the
                rest of his life. After school, David would stop by corner store to
                pick up a soda and a bag of potato chips and head over to the canal
                to watch the crocodiles from a distant. When David graduated from
                Atlantic Community High School, he started his career at the Palm
                Beach Zoo & Conservation Society. David took care of any reptilian
                he could get his hands on and soon became a local icon with his
                exuberating love of all things scaly.
            </p>
            <p>
                In 1987, David decided that loving reptiles alone was not cutting it
                for him. He moved his whole family (wife, 2 kids, and dog) to
                Tallahassee, where he started Lee’s Reptile Emporium. It started off
                as a small, word of mouth business run out of their 2 acre property,
                selling only frogs and snakes. People started to recognize David
                from his talks at the zoo and would go to his home to see the
                animals and, of course, end up taking one home. As David expanded
                his selection of reptiles he also got a commercial spot on the local
                radio station, then on TV, and in 2008 opened anonline store to
                bring his affection for these beautiful creatures nationwide.
            </p>
            <p>
                On behalf of Lee’s Reptile Emporium, David invites you all onto his
                property to choose your next family member, browse our shop and
                start your own reptilian adventure.
            </p>

            <a href="/all"><button class="browse">Browse Our Collection</button></a>
            <div class="text2Slide"></div>
        </div>
    </div>
</section>