<section class="checkout">
      <div class="cart-title">
        <h2>Items</h2>
      </div>
      <div class="items">
        <div class="purchased">
          <img src="../img/lizards/beardDragon.png" alt="" />
          <p>Bearded Dragon</p>
          <p>Price: $50</p>
        </div>
        <div class="purchased">
          <img src="../img/lizards/beardDragon.png" alt="" />
          <p>Bearded Dragon</p>
          <p>Price: $50</p>
        </div>
        <div class="purchased">
          <img src="../img/lizards/beardDragon.png" alt="" />
          <p>Bearded Dragon</p>
          <p>Price: $50</p>
        </div>
        <div class="purchased">
          <img src="../img/lizards/beardDragon.png" alt="" />
          <p>Bearded Dragon</p>
          <p>Price: $50</p>
        </div>
      </div>
      <div class="total">
        <h2>Total cost: so much</h2>
      </div>
</section>