<section class="main">
  <h1 id="homeText">Lee's Reptile Emporium</h1>
  <p id="homeQuote">
    How one man's love for reptiles turned into an emporium of scaly
    friends.
  </p>
  <p id="homeFrog"><i class="fas fa-frog"></i></p>

  <a href="/all"><button class="browse">Browse Our Collection</button></a>
</section>
